.booking__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% / 3);
  height: 172px;
}
.booking__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #262526;
}
.booking__input {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #262526;
  margin-top: 20px;
  letter-spacing: -0.09rem;
  outline: none;
}
.booking__input::-webkit-calendar-picker-indicator {
  display: none;
}
.booking__line {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background: #262526;
}
.booking__buy-btn {
  background-color: #262526;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #f2e1c2;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  width: 387px;
  height: 40px;
  position: absolute;
  bottom: 3px;
  right: 0;
}
