.booking {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: #f2e1c2;
  padding: 88px 120px 0;
}
.booking__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.booking__title {
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 114px;
  line-height: 114px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #262526;
  width: 50%;
  margin: 0;
}
.booking__form {
  margin-top: 95px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.booking__close {
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: 12px;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .booking__title {
    font-size: 70px;
    line-height: 70px;
  }
  .booking {
    padding: 88px 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .booking__title {
    font-size: 36px;
    line-height: 36px;
    width: min-content;
  }

  .booking {
    padding: 88px 30px 0;
  }
  .booking__form {
    flex-direction: column;
  }
  .booking__close {
    top: 0;
  }
}
