body {
  font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas-Neue/BebasNeue\ Bold.otf') format('otf'),
    url('./fonts/Bebas-Neue/BebasNeue\ Bold.ttf') format('truetype');
}

@import './vendor/normalize.css';
@import './util-styles/styles.css';
@import './components/App/App.css';
@import './components/Header/Header.css';
@import './components/Promo/Promo.css';
@import './components/Booking/Booking.css';
@import './components/BookingArticle/BookingArticle.css';
