.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 240px);
  padding: 30px 120px;
  max-height: 40px;
  z-index: 1;
}
.header__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  list-style: none;
}
.header__menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f2e1c2;
  text-decoration: none;
}
.header__menu-link:hover {
  color: #f23207;
}
.header__menu_btn-buy {
  margin-left: 40px;
  padding: 10px 15px;
  height: 100%;
  border-radius: 4px;
  background: #f2e1c2;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #262526;
  text-transform: uppercase;
  border: none;
}
.header__menu_btn-buy:hover {
  color: #f2e1c2;
  background-color: #f23207;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1439px) {
  .header {
    padding: 30px 60px;
    max-width: calc(100% - 120px);
  }
  .header__menu-ul {
    column-gap: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .header__menu-ul {
    display: none;
  }

  .header__menu_btn-buy {
    margin: 0;
  }

  .header__burger {
    display: flex;
    background-image: url('../../images/burgerNotOpened.svg');
    background-position: center;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100% - 40px);
    padding: 30px 20px;
  }
}

@media screen and (max-width: 425px) {
  .header__menu_btn-buy {
    font-size: 12px;
    padding: 5px 5px;
    height: 70%;
  }
}
