@-webkit-keyframes bgRightToLeft {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}

@keyframes bgRightToLeft {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes growHeight {
  0% {
    height: 5px;
  }
  100% {
    height: 605px;
  }
}

@keyframes growHeight {
  0% {
    height: 5px;
  }
  100% {
    height: 605px;
  }
}

@-webkit-keyframes growHeightMediumPc {
  0% {
    height: 5px;
  }
  100% {
    height: 485px;
  }
}

@keyframes growHeightMediumPc {
  0% {
    height: 5px;
  }
  100% {
    height: 485px;
  }
}

@-webkit-keyframes growHeightMinPc {
  0% {
    height: 5px;
  }
  100% {
    height: 420px;
  }
}

@keyframes growHeightMinPc {
  0% {
    height: 5px;
  }
  100% {
    height: 420px;
  }
}

@-webkit-keyframes growHeightMaxTablet {
  0% {
    height: 5px;
  }
  100% {
    height: 350px;
  }
}

@keyframes growHeightMaxTablet {
  0% {
    height: 5px;
  }
  100% {
    height: 350px;
  }
}

@-webkit-keyframes growHeightMidTablet {
  0% {
    height: 5px;
  }
  100% {
    height: 280px;
  }
}

@keyframes growHeightMidTablet {
  0% {
    height: 5px;
  }
  100% {
    height: 280px;
  }
}

@-webkit-keyframes growHeightMaxPhone {
  0% {
    height: 5px;
  }
  100% {
    height: 235px;
  }
}

@keyframes growHeightMaxPhone {
  0% {
    height: 5px;
  }
  100% {
    height: 235px;
  }
}

@-webkit-keyframes growHeightMinPhone {
  0% {
    height: 5px;
  }
  100% {
    height: 190px;
  }
}

@keyframes growHeightMinPhone {
  0% {
    height: 5px;
  }
  100% {
    height: 190px;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes longOpacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes longOpacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.util__link:hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  cursor: pointer;
}
.util__button:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  cursor: pointer;
}
