@-webkit-keyframes growHeight {
  0% {
    height: 5px;
  }
  100% {
    height: 605px;
  }
}

@keyframes growHeight {
  0% {
    height: 5px;
  }
  100% {
    height: 605px;
  }
}

@keyframes growHeightMediumPc {
  0% {
    height: 5px;
  }
  100% {
    height: 515px;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 125px 0 116px;
  margin-top: 120px;
  height: calc(1024px - 190px);
  width: 100%;
  max-width: calc(100% - 200px);
}

.promo__bgArrow {
  height: 5px;
  width: 10px;
  -webkit-animation: growHeight 1s forwards;
  animation: growHeight 1s forwards;
}

.promo__container-text {
  margin-left: 25px;
  padding-top: 14px;
}

.promo__description {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f23207;
  opacity: 0;
  -webkit-animation: opacity 1s forwards;
  animation: opacity 1s forwards;
}

.promo__holder {
  position: relative;
  mix-blend-mode: lighten;
  width: 100%;
}

.promo__video {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
.promo__mars-text-conteiner {
  text-align: center;
  position: absolute;
  inset: 0;
  background: black;
  color: #fff;
  mix-blend-mode: multiply;
  background-clip: content-box;
  width: 100%;
}
.promo__mars-text {
  margin: 0;
  font-weight: 700;
  font-size: 715.25px;
  line-height: 715.25px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue';
  -webkit-transform: translate(-81px, -80px);
  -ms-transform: translate(-81px, -80px);
  transform: translate(-81px, -80px);
  user-select: none;
}

@media screen and (min-width: 1441px) {
  .app {
    align-items: center;
    background-repeat: repeat-x;
  }
  .header {
    max-width: calc(1600px - 240px);
  }
  .promo {
    padding: 0;
    justify-content: center;
  }

  .promo__video {
    transform: translate(5px, 5px);
  }
}

@media screen and (max-width: 1439px) {
  .promo__video {
    transform: translate(5px, 5px);
  }
  .promo__mars-text {
    transform: translate(-195px, -45px);
    font-size: 515px;
    line-height: 515px;
  }
  .promo__bgArrow {
    -webkit-animation: growHeightMediumPc 1s forwards;
    animation: growHeightMediumPc 1s forwards;
  }
}
