.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 125px 0 116px;
  margin-top: 90px;
  height: calc(1024px - 190px);
  max-width: calc(100% - 200px);
}

.promo__bgArrow {
  height: 5px;
  width: 10px;
  -webkit-animation: growHeight 1s forwards;
  animation: growHeight 1s forwards;
}

.promo__container-text {
  margin-left: 25px;
  padding-top: 14px;
}

.promo__description {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f23207;
  opacity: 0;
  -webkit-animation: opacity 1s forwards;
  animation: opacity 1s forwards;
}

.promo__wrapper {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  -webkit-animation: longOpacity 1s ease-in-out;
  animation: longOpacity 1s ease-in-out;
}
.promo__clipped-video {
  width: 100%;
  height: auto;
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}
.promo__clipped-svg {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.promo__clipped-text {
  font-family: 'Bebas Neue';
  font-weight: bold;
  -webkit-transform: translate(-24px, -585px);
  -ms-transform: translate(-24px, -585px);
  transform: translate(-24px, -585px);
  font-weight: 700;
  font-size: 715.25px;
  line-height: 715.25px;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 1441px) {
  .app {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: repeat-x;
  }
  .header {
    max-width: calc(1600px - 240px);
  }
  .promo {
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1439px) {
  .promo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    padding: 0;
  }
  .promo__bgArrow {
    -webkit-animation: growHeightMediumPc 1s forwards;
    animation: growHeightMediumPc 1s forwards;
  }
  .promo__clipped-text {
    -webkit-transform: translate(-24px, -440px);
    -ms-transform: translate(-24px, -440px);
    transform: translate(-24px, -440px);
    font-size: 550px;
    line-height: 550px;
  }

  .promo__container-text {
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .promo__container-text {
    width: 80%;
  }

  .promo__clipped-text {
    -webkit-transform: translate(-15px, -430px);
    -ms-transform: translate(-15px, -430px);
    transform: translate(-15px, -430px);
    font-size: 500px;
    line-height: 500px;
  }

  .promo__bgArrow {
    -webkit-animation: growHeightMinPc 1s forwards;
    animation: growHeightMinPc 1s forwards;
  }
}

@media screen and (max-width: 1023px) {
  .promo__clipped-text {
    -webkit-transform: translate(-15px, -340px);
    -ms-transform: translate(-15px, -340px);
    transform: translate(-15px, -340px);
    font-size: 400px;
    line-height: 400px;
  }

  .promo__bgArrow {
    -webkit-animation: growHeightMaxTablet 1s forwards;
    animation: growHeightMaxTablet 1s forwards;
  }
}

@media screen and (max-width: 800px) {
  .promo__clipped-text {
    -webkit-transform: translate(-15px, -250px);
    -ms-transform: translate(-15px, -250px);
    transform: translate(-15px, -250px);
    font-size: 300px;
    line-height: 300px;
  }

  .promo__bgArrow {
    -webkit-animation: growHeightMidTablet 1s forwards;
    animation: growHeightMidTablet 1s forwards;
  }
}

@media screen and (max-width: 599px) {
  .promo__description {
    font-size: 24px;
  }
  .promo__clipped-text {
    -webkit-transform: translate(-15px, -200px);
    -ms-transform: translate(-15px, -200px);
    transform: translate(-15px, -200px);
    font-size: 240px;
    line-height: 240px;
  }

  .promo__bgArrow {
    -webkit-animation: growHeightMaxPhone 1s forwards;
    animation: growHeightMaxPhone 1s forwards;
  }
}

@media screen and (max-width: 480px) {
  .promo__clipped-text {
    -webkit-transform: translate(-5px, -130px);
    -ms-transform: translate(-5px, -130px);
    transform: translate(-5px, -130px);
    font-size: 160px;
    line-height: 160px;
  }

  .promo__bgArrow {
    -webkit-animation: growHeightMinPhone 1s forwards;
    animation: growHeightMinPhone 1s forwards;
  }
}
